head
	title=pageTitle
	meta(name="decription" content="#{pageTitle} for Markus Clardy")
	meta(name="author" content="Markus Clardy")
	meta(name="author-email" content="markus@clardy.eu")
	meta(property="og:title" content="#{pageTitle} for Markus Clardy")
	meta(property="og:type" content="Homepage")
	meta(property="og:url" content="https://clardy.eu")
	meta(property="og:description" content="#{pageTitle} for Markus Clardy")
	meta(name="keywords" content="programming,email,website,personal")
	link(rel="icon" type="image/x-icon" href="https://clardy.eu/imgs/favicon.png")
	link(rel="stylesheet" type="text/css" href="/static/style/main.css")
	link(href="https://use.fontawesome.com/releases/v5.0.0/css/all.css" rel="stylesheet")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")