title=pageTitle
meta(name="decription" content=pageTitle + " for Markus Clardy")
meta(name="author" content="Markus Clardy")
meta(name="author-email" content="markus@clardy.eu")
meta(property="og:title" content=pageTitle + " for Markus Clardy")
meta(property="og:type" content="Homepage")
meta(property="og:url" content="https://clardy.eu")
meta(property="og:description" content=pageTitle + " for Markus Clardy")
meta(name="keywords" content="programming,email,website,personal")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="icon" type="image/x-icon" href="/static/imgs/favicon.png")
noscript#deferred-styles
	link(rel="stylesheet" type="text/css" href="/static/style/main.css")
link(rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css" media="none" onload="if(media!='all')media='all'")
script(async type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(async type='text/javascript' src="/static/js/coffee/style.js")