script(src="/static/js/coffee/navbar.js")
ul.navbar
	li.navitem(onclick='goto("http://l.clardy.eu/') Root
	li.navitem(onclick='goto("http://l.clardy.eu/react') Learning React
	li.navitem(onclick='goto("https://clardy.eu/markus') CV
	li.navitem(onclick='goto("http://l.clardy.eu/url') URL Shortener
	li.navitem(onclick='goto("http://l.clardy.eu/form') Test Form