div.navitems
	a.navitem(href='https://clardy.eu/') Home
	a.navitem(href='https://clardy.eu/cv') CV
	a.navitem(href='https://clardy.eu/url') URL Shortener
	a.navitem(href='https://clardy.eu/blog/posts') Blog
	//- a.navitem(href='https://clardy.eu/lorem') Long Page
	//- a.navitem(href='https://clardy.eu/form') Form Test