div.navitems
	a.navitem(href='javascript:void(0)' onclick="goto('http://l.clardy.eu/')") Root
	a.navitem(href='javascript:void(0)' onclick="goto('http://l.clardy.eu/markus')") CV
	a.navitem(href='javascript:void(0)' onclick="goto('http://l.clardy.eu/lorem')") Long Page
	a.navitem(href='javascript:void(0)' onclick="goto('http://l.clardy.eu/url')") URL Shortener
	a.navitem(href='javascript:void(0)' onclick="goto('http://l.clardy.eu/form')") Form Test
	a.navitem(href='javascript:void(0)' onclick="goto('http://l.clardy.eu/react')") Learning React
	//- a.navitem(href='javascript:void(0)' onclick="goto('http://l.clardy.eu/vue')") Learning Vue
	//- a.navitem(href='javascript:void(0)' onclick="goto('http://l.clardy.eu/angular')") Learning Angular