div.navitems
	a.navitem(href='javascript:void(0)' onclick="goto('https://clardy.eu/')") Home
	a.navitem(href='javascript:void(0)' onclick="goto('https://clardy.eu/markus')") CV
	//- a.navitem(href='javascript:void(0)' onclick="goto('https://clardy.eu/lorem')") Long Page
	a.navitem(href='javascript:void(0)' onclick="goto('https://clardy.eu/url')") URL Shortener
	a.navitem(href='javascript:void(0)' onclick="goto('https://clardy.eu/form')") Form Test
	a.navitem(href='javascript:void(0)' onclick="goto('https://clardy.eu/blog')") Blog
	//- a.navitem(href='javascript:void(0)' onclick="goto('https://clardy.eu/vue')") Learning Vue
	//- a.navitem(href='javascript:void(0)' onclick="goto('https://clardy.eu/angular')") Learning Angular