div.navitems
	a.navitem(href='#' onclick="goto('http://l.clardy.eu/')") Root
	a.navitem(href='#' onclick="goto('https://clardy.eu/markus')") CV
	a.navitem(href='#' onclick="goto('http://l.clardy.eu/url')") URL Shortener
	a.navitem(href='#' onclick="goto('http://l.clardy.eu/form')") Test Form
	a.navitem(href='#' onclick="goto('http://l.clardy.eu/react')") Learning React