<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Home page for Markus Clardy" />
        <meta name="author" content="Markus Clardy" />
        <meta name="author-email" content="markus@clardy.eu" />
        <meta charset="UTF-8" />
        <meta property="og:title" content="Home page for Markus Clardy" />
        <meta property="og:type" content="Homepage" />
        <meta property="og:url" content="https://clardy.eu" />
        <meta property="og:description" content="Home page for Markus Clardy" />
        <meta name="keywords" content="programming,email,website,personal" />
        <link rel="icon" type="image/x-icon" href="https://clardy.eu/imgs/favicon.png">
        <link rel="stylesheet" type="text/css" href="https://clardy.eu/style/main.css">
        <title>404 Not Found</title>
    </head>
    <body>
    <h1>Error 404</h1>
    <hr />
    <h3>Page Not found</h3>
    </body>
</html>