<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="502 page" />
        <meta name="author" content="Markus Clardy" />
        <meta name="author-email" content="markus@clardy.eu" />
        <meta charset="UTF-8" />
        <meta property="og:title" content="502 page" />
        <meta property="og:type" content="Homepage" />
        <meta property="og:url" content="https://clardy.eu" />
        <meta property="og:description" content="502 page" />
        <meta name="keywords" content="programming,email,website,personal" />
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <link rel="icon" type="image/x-icon" href="/imgs/favicon.png">
        <link rel="preload" type="text/css" href="/static/style/main.css">
        <title>502 No gateway</title>
    </head>
    <body>
        <div id='header' class='error'>
            <h1>Error 502</h1>
        </div>
        <nav class='navbar'>
            <div class='narrownav'>
                <h1>Error 502</h1>
            </div>
        </nav>
        <div id='body'>
            <h3>We are encountering some technical difficulties, please hold on.</h3>
        </div>
    </body>
</html>