<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Home page for Markus Clardy" />
        <meta name="author" content="Markus Clardy" />
        <meta name="author-email" content="markus@clardy.eu" />
        <meta charset="UTF-8" />
        <meta property="og:title" content="Home page for Markus Clardy" />
        <meta property="og:type" content="Homepage" />
        <meta property="og:url" content="https://clardy.eu" />
        <meta property="og:description" content="Home page for Markus Clardy" />
        <meta name="keywords" content="programming,email,website,personal" />
        <link rel="icon" type="image/x-icon" href="https://clardy.eu/imgs/favicon.png">
        <link rel="stylesheet" type="text/css" href="http://l.clardy.eu/static/style/main.css">
        <title>502 Not Found</title>
    </head>
    <body>
        <div id='header'>
            <h1>Error 502</h1>
        </div>
        <div id='body'>
            <h3>We are encountering some technical difficulties, please hold on.</h3>
        </div>
    </body>
</html>