doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/static/style/blog.css")
		include ./includes/head.pug
	body
		include ./includes/header.pug
		include ./includes/navbar.pug
		input#post-id(type='hidden' value=post)
		div#root
		script(type='text/javascript' async src="/static/js/react/index.js")
		include ./includes/footer.pug