//- Mixins
mixin section-header(name)
	div.section-header
		h2=name
		a.minimize-button(href='javascript:void(0)') [ - ]

mixin subsection-header(name)
	div.section-header
		h3=name
		a.minimize-button(href='javascript:void(0)') [ - ]

//- Actual HTML file
doctype html
html
	head
		include ./includes/head.pug
		link(rel="stylesheet" type="text/css" href="/static/style/cv.css")
	body
		include ./includes/header.pug
		include ./includes/navbar.pug
		div#body
			//- Contact Info
			div.section#contactinfo
				+section-header('Contact Info')
				ul.sectionbody
					li
						span#address
							span.label City:
							span.value Salthill, Co. Galway, Ireland
					li
						span#address
							span.label Phone:
							span.value +353 83 803 7577
					li
						span#address
							span.label E-Mail:
							span.value 
								a(href='mailto:markus@clardy.eu') markus@clardy.eu

			//- Education
			div.section#education
				+section-header('Education')
				div.sectionbody
					div.subsection#college1
						+subsection-header('NYU Tandon School Of Engineering')
						ul.sectionbody
							li
								span#college1-loc
									span.label Location:
									span.value Brooklyn, NY, USA
							li
								span#college1-time
									span.label Time Period:
									span.value Aug. 2012 - May 2013
							li
								span#college1-major
									span.label Major:
									span.value Computer Engineering
						
					
					div.subsection#highschool
						+subsection-header('James Bowie High School')
						ul.sectionbody
							li
								span#highschool-loc
									span.label Location:
									span.value Austin, TX, USA
							li
								span#highschool-time
									span.label Time Period:
									span.value Aug. 2008 - May 2012

			//- Skills and Abilities
			div.section#skillsandabilities
				+section-header('Skills and Abilities')
				div.sectionbody
					div.subsection#programming
						+subsection-header('Programming')
						ul.sectionbody
							li
								span.label Web Development
								br
								ul.sublist 
									li HTML
										br
										ul.sublist
											li pug
									li CSS
										br
										ul.sublist 
											li SASS
									li PHP
									li Javascript
										br
										ul.sublist 
											li JQuery
											li ReactJS
											li NodeJS
							li
								span.label Scripting
								br
								ul.sublist 
									li Python
									li Lua
									li Perl
									li Ruby
							li
								span.label Native Applications
								br
								ul.sublist 
									li C/C++
									br
									ul.sublist 
										li Visual Studio
										li GNU GCC
									li C#
									br
									ul.sublist 
										li .Net
										li Mono
					
					div.subsection#techOther
						+subsection-header('Other Environment')
						ul.sectionbody
							li
								span.label Mail Relay
								br
								ul.sublist 
									li Postfix
									li Dovecot
									li SpamAssassin
									li AMaViS
									li MimeDefang
							li
								span.label Web Servers
								br
								ul.sublist 
									li Apache
									li NGinX
							li
								span.label Database Environments
								br
								ul.sublist 
									li PostgreSQL
									li MySQL
									li Redis
								
							
							li
								span.label Virtualization Environments
								br
								ul.sublist 
									li VMWare ESXi
									li Oracle VirtualBox

			//- Experience
			div.section#experience
				+section-header('Work Experience')
				div.sectionbody
					div.subsection#titanhq
						+subsection-header('TitanHQ')
						ul.sectionbody
							li
								span#titanhq-pos
									span.label Position:span.value'Support Engineer
							li
								span#titanhq-loc
									span.label Location:span.value'Salthill, Co. Galway, Ireland
							li
								span#titanhq-time
									span.label Time Period:span.value'May 2016 - Today
							li
								span#titanhq-ach1
									span.label Achievement:span.value'Developed a number of internal systems for the company.
						
					
					div.subsection#pcworld
						+subsection-header('PCWorld/Currys')
						ul.sectionbody
							li
								span#pcworld-pos
									span.label Position:span.value'Sales
							li
								span#pcworld-loc
									span.label Location:span.value'Salthill, Co. Galway, Ireland
							li
								span#pcworld-time
									span.label Time Period:span.value'Jan. 2012 - May 2012
							li
								span#pcworld-ach1
									span.label Achievement:span.value'Developed a vision targeting system.
							li
								span#pcworld-ach2
									span.label Achievement:span.value'Able to achieve game points autonomously with 90% accuracy.
						
					
					div.subsection#subway
						+subsection-header('Subway')
						ul.sectionbody
							li
								span#subway-pos
									span.label Position:span.value'Assistant Manager
							li
								span#subway-loc
									span.label Location:span.value'Austin, TX, USA
							li
								span#subway-time
									span.label Time Period:span.value'Apr. 2015 - Aug. 2015
						
					
					div.subsection#panerabread
						+subsection-header('Panera Bread')
						ul.sectionbody
							li
								span#panerabread-pos
									span.label Position:span.value'Shift Supervisor
							li
								span#panerabread-pos
									span.label Other Position Held:span.value'Associate Trainer
							li
								span#panerabread-pos
									span.label Other Position Held:span.value'Associate
							li
								span#panerabread-loc
									span.label Location:span.value'Austin, TX, USA
							li
								span#panerabread-time
									span.label Time Period:span.value'June 2013 - Apr. 2015
							li
								span#panerabread-ach1
									span.label Achievement:span.value'Promoted to Associate Trainer within 3 months, certified in all positions within 4 months.
							li
								span#panerabread-ach2
									span.label Achievement:span.value'Promoted to Shift Supervisor within 1 year.
							li
								span#panerabread-ach2
									span.label Achievement:span.value'Received Customer Satisfaction award.
						
					
					div.subsection#frc
						+subsection-header('FRC High School First Robotics Team 2468')
						ul.sectionbody
							li
								span#frc-pos
									span.label Position:span.value'Programmer
							li
								span#frc-loc
									span.label Location:span.value'Austin, TX, USA
							li
								span#frc-time
									span.label Time Period:span.value'Jan. 2012 - May 2012
							li
								span#frc-ach1
									span.label Achievement:span.value'Developed a vision targeting system.
							li
								span#frc-ach2
									span.label Achievement:span.value'Able to achieve game points autonomously with 90% accuracy.
						
					
				
			
			//- Achievements
			div.section#achievements
				+section-header('Achievements')
				div.sectionbody
					div.subsection#frcach
						+subsection-header('2012 FRC - Dallas West Regional')
						ul.sectionbody
							li
								span#frcach-loc
									span.label Location:span.value'Dallas, TX, USA
							li
								span#frcach-ach1
									span.label Achievement:span.value'Second Place Alliance
							li
								span#frcach-ach2
									span.label Achievement:span.value'Developed the autonomy system, achieving 4-8 points per game
						
					
					div.subsection#arcsf
						+subsection-header('2011 Austin Regional Science Fair')
						ul.sectionbody
							li
								span#arcsf-loc
									span.label Location:span.value'Austin, TX, USA
							li
								span#arcsf-ach1
									span.label Achievement:span.value'First Place in Computer Science
							li
								span#arcsf-ach2
									span.label Achievement:span.value'Pathfinding, flocking and dynamic object avoidance algorithms
		include ./includes/footer.pug