doctype html
html
	head
		include ./includes/head.pug
	body
		include ./includes/header.pug
		include ./includes/navbar.pug
		form#body(action = "/form", method = "post")
			div
				label(for = "say") Say: &nbsp;
				input(name = "say" value = "hi")
			br
			div
				label(for = "to") To: &nbsp;
				input(name = "to" value = "Express Forms")
			br
			button(type = "submit") Send my greetings
		+deferredStyle
		include ./includes/footer.pug