doctype html
html
	head
		title Form Tester
		meta(name="decription" content="Home page for learning Markus")
		meta(name="author" content="Markus Clardy")
		meta(name="author-email" content="markus@clardy.eu")
		meta(property="og:title" content="Home page for Markus Clardy")
		meta(property="og:type" content="Homepage")
		meta(property="og:url" content="https://clardy.eu")
		meta(property="og:description" content="Home page for Markus Clardy")
		meta(name="keywords" content="programming,email,website,personal")
		link(rel="icon" type="image/x-icon" href="https://clardy.eu/imgs/favicon.png")
		link(rel="stylesheet" type="text/css" href="https://clardy.eu/style/main.css")
	body
		form(action = "/form", method = "post")
			div
				label(for = "say") Say:
				input(name = "say" value = "hi")
			br
			div
				label(for = "to") To:
				input(name = "to" value = "Express Forms")
			br
			button(type = "submit") Send my greetings