doctype html
html
	head
		include ./includes/head.pug
		include ./includes/angular-js.pug
	body(ng-app="HomePage")
		include ./includes/header.pug
		include ./includes/navbar.pug
		div#body(ng-controller="MainController")
			p $route.current.templateUrl = {{ $route.current.templateUrl }}
			div(ng-view)
		include ./includes/footer.pug
		script(type='text/javascript' defer src="/static/js/coffee/home.js")