doctype html
html(ng-app="MainPage")
	head
		include ./includes/head.pug
		include ./includes/angular-js.pug
	body
		include ./includes/header.pug
		include ./includes/navbar.pug
		div#body(ng-view)
		script(type='text/javascript' defer src="/static/js/coffee/home.js")
		include ./includes/footer.pug