doctype html
html
	head
		include ./includes/head.pug
	body(ng-app="HomePage")
		include ./includes/header.pug
		include ./includes/navbar.pug
		div#body(ng-controller="MainController")
			p This is my website! It is where I test different web technologies to build my site.
			p The backend is NGINX Reverse-Proxying to NodeJS. All the pages are built in pug, and each page was a different learning things.
			div(ng-repeat="section in sections")
				information-section(details=section)
		include ./includes/angular-js.pug
		include ./includes/footer.pug
		script(type='text/javascript' defer src="/static/js/home.js")