doctype html
html
	head
		include ./includes/head.pug
		include ./includes/angular-js.pug
	body
		include ./includes/header.pug
		include ./includes/navbar.pug
		div#body
			a(href='#/blah') Blah
		script(type='text/javascript' defer src="/static/js/coffee/home.js")
		include ./includes/footer.pug