<!DOCTYPE html>
<html>
    <head>
        <meta name="google-site-verification" content="QriFAQejoGZcluwP2duAA2ioFM7KjCHT7DndMiINUgM" />
        <meta name="description" content="Home page for Markus Clardy" />
        <meta name="author" content="Markus Clardy" />
        <meta name="author-email" content="markus@clardy.eu" />
        <meta charset="UTF-8" />
        <meta property="og:title" content="Home page for Markus Clardy" />
        <meta property="og:type" content="Homepage" />
        <meta property="og:url" content="https://clardy.eu" />
        <meta property="og:description" content="Home page for Markus Clardy" />
        <meta name="keywords" content="programming,email,website,personal" />
        <link rel="icon" type="image/x-icon" href="https://clardy.eu/imgs/favicon.png">
        <link rel="stylesheet" type="text/css" href="https://clardy.eu/style/main.css">
        <link rel="stylesheet" type="text/css" href="https://clardy.eu/style/cv.css">
        <title>NodeJS learning</title>
    </head>
    <body>
    <span class='label'>Test</span><br />
    <span class='label'>Date:</span>%%day%% %%month%% %%year%%<br />
    <span class='label'>Path:</span>%%path%%<br />
    </body>
</html>
