doctype html
html
	head
		include ./includes/head.pug
	body
		include ./includes/header.pug
		include ./includes/navbar.pug
		div#root
		script(src="/static/js/react/index.js")
		include ./includes/footer.pug