doctype html
html
	head
		title=pageTitle
		meta(name="decription" content="Home page for learning Markus")
		meta(name="author" content="Markus Clardy")
		meta(name="author-email" content="markus@clardy.eu")
		meta(property="og:title" content="Home page for Markus Clardy")
		meta(property="og:type" content="Homepage")
		meta(property="og:url" content="https://clardy.eu")
		meta(property="og:description" content="Home page for Markus Clardy")
		meta(name="keywords" content="programming,email,website,personal")
		link(rel="icon" type="image/x-icon" href="https://clardy.eu/imgs/favicon.png")
		link(rel="stylesheet" type="text/css" href="/static/style/main.css")
		//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js")
		script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")
	body
		include ./header.pug
		div#body
		script(src="/statis/js/react/main.js")
		include ./footer.pug