doctype html
html
	head
		include ./includes/head.pug
	body
		include ./includes/header.pug
		include ./includes/navbar.pug
		div#body
			label Your url is: 
			a(href=url target="_blank") #{url}
		+deferredStyle
		include ./includes/footer.pug