doctype html
html
	head
		title Form Tester
	body
		form(action = "/url", method = "post")
			div
				label(for = "url") URI to shorten:
				input(name = "url" value = "https://google.com/")
			br
			button(type = "submit") Generate!