doctype html
html
	head
		include ./includes/head.pug
	body
		include ./includes/header.pug
		include ./includes/navbar.pug
		form#body(action = "/url", method = "post")
			label(for = "url") URL to shorten:&nbsp;
			input(name = "url" value = "https://google.com/")
			br
			br
			button(type = "submit") Generate!
		+deferredStyle
		include ./includes/footer.pug