.navbar {
	.widenav {
		display: none;
		width: 100%;
		background: $border-color;
	}
	.narrownav {
		h1 {
			font-size: 25px;
			font-family: Arial, Helvetica, sans-serif;
			vertical-align: center;
			color: $font-color;
			padding-left: $padding-side;
			display: inline-block;
	
			// prevent user selection on Nav Bar
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		i {
			cursor: pointer;
			color: $font-color;
			vertical-align: center;
			padding: $padding-height $padding-side;
			margin-top: $padding-height;
			&:hover {
				color: $button-color;
			}
		}
		.navitems {
			a {
				display: block;
				float: left;
				clear: left;
				width: 100%;
			}
			display: none;
		}
		margin: 0px;
	}
	list-style: none;
	background: $border-color;
	margin: 0px;
}
.navitems {
	background: $border-color;

	.navitem {
		&:hover {
			background: $button-color;
			color: white;
		}
		&.active {
			color: white;
		}
		display: inline-block;
		background: $border-color;
		padding: $padding-height $padding-side;
		font-size: 20px;
		color: $font-color;
		text-decoration: none;

		// prevent user selection on Nav Bar
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

@media (min-width: 480px) {
    .navbar {
        .widenav {
            display: block;
        }
        .narrownav {
            display: none;
        }
    }
}