.widenav {
	width: 100%;
	background: $border-color;

	@include desktop {
		display: block;
	}
	@include tablet {
		display: block;
	}
	@include phone {
		display: none;
	}
}
.narrownav {
	@include desktop {
		display: none;
	}
	@include tablet {
		display: none;
	}
	@include phone {
		display: block;
	}
	.bar {
		h1 {
			font-size: 25px;
			font-family: Arial, Helvetica, sans-serif;
			vertical-align: center;
			color: $font-color;
			padding: 0px $padding-side-small;
			display: inline-block;

			@include nonselect;
		}
		i {
			cursor: pointer;
			color: $font-color;
			vertical-align: center;
			padding: $padding-height-small $padding-side-small;
			margin-top: $padding-height;
			&:hover {
				color: $button-color;
			}
		}
		background: $background-color;
	}
	.navitems {
		a {
			display: block;
			float: left;
			clear: left;
			width: 100%;
		}
		display: none;
		margin-bottom: $padding-height-small;
	}
	margin: 0px;

}
.navitems {
	.navitem {
		&:hover {
			background: $button-color;
			color: white;
		}
		&.active {
			color: white;
		}
		display: inline-block;
		background: $border-color;
		padding: $padding-height $padding-side;
		font-size: 20px;
		color: $font-color;
		text-decoration: none;

		@include nonselect;
	}
}