html, body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background: $page-color;
}

.fr {
	float: right;
}

.fixed {
	@include pos(0,0);
}

#header {
	@include phone {
		display: none;
	}
	@include tablet {
		display: block;
	}
	@include desktop {
		display: block;
	}
	h1 {
		font-size: 50px;
		text-align: center;
		vertical-align: center;
		@include nonselect;
	}
	&.error {
		box-shadow: $nav-shadow;
	}
	background: $background-color;
	margin: 0px;
	padding: 5px;
	border-bottom: $border;
	color: $font-color;
	z-index: 100;
	position: relative;
}
a {
	&:visited {
		color: $font-color;
	}
	&:hover {
		color: white;
	}
	text-decoration: underline;
	color: $font-color;
}

#body {
	input {
		border: none;
		border-bottom: 2px solid $font-color;
		background: none;
		font-size: 18px;
		color: $font-color;
	}

	button {
		&:hover {
			background: $button-color;
		}
		border: 1px solid $border-color;
		background: #888;
		padding: $padding-height $padding-side;
		border-radius: 5px;
		color: white;
		-webkit-transition: 50ms;
	    transition: 50ms;
	    font-size: 20px;
	}
	@include phone {
		margin: $body-height;
		padding: $padding-height-small $padding-side-small;
	}
	margin: $body-height $body-side;
	border: $border;
	background: $background-color;
	padding: $padding-height $padding-side;
	border-radius: 5px;
	color: $font-color;
	box-shadow: $body-shadow;
	z-index: 15;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	border-top: $border;
	background: $section-color;
	color: $font-color;
	padding-left: $padding-side;
}

label, p {
	font-size: 18px;
	color: $font-color;
}