$font-color:           #afb9bf;
$button-color:         #5a29e7;
$border-color:         #2f343f;
$background-color:     #383c4a;
$section-color:        #404552;
$page-color:           #22242c;

$border:               2px solid $border-color;

$padding-side:         25px;
$padding-height:       10px;
$padding-side-small:   10px;
$padding-height-small: 7.5px;
$body-side:            15%;
$body-height:          25px;

$transition-speed:     1s;

$tablet-width:         768px;
$desktop-width:        1024px;

$nav-shadow:           0px 2px 20px black;
$body-shadow:          0px 0px 20px 2px black;

$floating-low-shadow: 0px 1px 3px 1px #000000cc;
$floating-mid-shadow: 0px 2px 10px 1px #000000cc;
$floating-high-shadow: 0px 2px 20px 1px #000000cc;