$font-color:           #afb9bf;
$button-color:         #5a29e7;
$border-color:         #2f343f;
$background-color:     #383c4a;
$section-color:        #404552;
$page-color:           #22242c;

$border:               1px solid $border-color;

$padding-side:         25px;
$padding-height:       10px;
$padding-side-small:   15px;
$padding-height-small: 7.5px;
$body-side:            15%;
$body-height:          10px;

$transition-speed:     1s;

$tablet-width:         768px;
$desktop-width:        1024px;