@import 'variables';
@import 'mixins';

#Blog {
	h2 {
		cursor: pointer;
		@include nonselect;
	}
	margin-top: $padding-height;

	@include phone {
		margin-top: $padding-height-small;
	}
}

.post {
	.postheader {
		.posttitle {
			@include phone {
				font-size: 18px;
			}
			font-size: 25px;
			margin: 0px;
		}
		.postdate {
			font-size: 12px;
			line-height: 0px;
			@include phone {
				font-size: 8px;
				line-height: 0px;
			}
			line-height: 5px;
		}
		@include phone {
			padding: $padding-height-small;
		}
		background: $border-color;
		padding: $padding-height;
		cursor: pointer;
		@include nonselect;
		&:hover {
			background: $button-color;
		}
	}
	.postcontent {
		padding: 10px;
	}
	background: $section-color;
	border: 2px solid $border-color;
	color: $font-color;
	margin-bottom: 5px;
	margin-top: 5px;
	border-radius: 5px;
	line-height: 25px;
}