@import 'variables';

.section {
	h2 {
		background: $border-color;
		padding: $padding-height;
	}
	.subsection {
		h3 {
			padding: $padding-height;
			background: $border-color;
			color: $section-background;
		}
		border: 2px solid $border-color;
		background: $section-background;
	}
	background: $section-background;
	border: 2px solid $border-color;
	color: $font-color;
}

.minimize-button {
	float: right;
	text-decoration: none;
	color: inherit;
}

.label {
	font-weight: bold;
}
.value {
}
ul.sublist {
	list-style: circle;
}