@import 'variables';

// Colors
$sectionBackground: #AAA;
$subSectionBackground: #DDD;
$primaryColor: #17BEBB;
$secondaryColor: #0E7C7B;
$tertiaryColor: #D62246;


// padding
$primPadding: 10px;

// font
$primFont: Arial;

.section {
	h2 {
		font: $primFont;
		background: $primaryColor;
		padding: $primPadding;
	}
	.subsection {
		h3 {
			font: $primFont;
			padding: $primPadding;
			background: $secondaryColor;
			color: $subSectionBackground;
		}
		border: 2px solid $secondaryColor;
		background: $subSectionBackground;
		font: $primFont;
	}
	background: $sectionBackground;
	border: 2px solid $primaryColor;
	color: $font-color;
	font: $primFont;
}

.minimize-button {
	float: right;
	text-decoration: none;
	color: inherit;
}

.label {
	font-weight: bold;
}
.value {
}
ul.sublist {
	list-style: circle;
}