$font-color: #afb9bf;
$button-color: #5a29e7;
$border-color: #2f343f;
$background-color: #383c4a;

$padding-side: 25px;
$padding-height: 10px;

$transition-speed: 1s;


$retina = '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
$smallscreen = '(min-width: 480px)';

@import 'standard';
@import 'navbar';