$font-color: #afb9bf;
$button-color: #5a29e7;
$border-color: #2f343f;

$padding-side: 25px;
$padding-height: 10px;

#body {
	input {
		border: none;
		border-bottom: 2px solid $font-color;
		background: none;
		font-size: 18px;
		font-family: Arial, Helvetica, sans-serif;
		color: $font-color;
	}
	label, p {
		font-size: 18px;
		color: $font-color;
		font-family: Arial, Helvetica, sans-serif;
	}

	button {
		&:hover {
			background: $button-color;
		}
		border: 1px solid $border-color;
		background: #888;
		padding: $padding-height $padding-side;
		border-radius: 5px;
		color: white;
		-webkit-transition: 50ms;
	    transition: 50ms;
	    font-size: 20px;
	    font-family: Arial, Helvetica, sans-serif;
	}
	margin: 10px;
	border: 1px solid black;
	background: #404552;
	padding: 10px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: $font-color;
}

.navbar {
	.navitem {
		&:hover {
			background: $button-color;
			color: white;
		}
		&.active {
			color: white;
		}
		display: inline-block;
		background: $border-color;
		padding: $padding-height $padding-side;
		font-size: 20px;
		color: $font-color;
	}
	list-style: none;
	background: $border-color;
	margin: 0px;
}

#header {
	h1 {
		font-size: 50px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		vertical-align: center;
	}
	background: #383c4a;
	margin: 0px;
	padding: 5px;
	border-bottom: 1px solid $border-color;
	font-family: Arial, Helvetica, sans-serif;
	color: $font-color;
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}