doctype html
html
    head
        meta(name="description" content="504 Page")
        meta(name="author" content="Markus Clardy")
        meta(name="author-email" content="markus@clardy.eu")
        meta(charset="UTF-8")
        meta(property="og:title" content="504 Page")
        meta(property="og:type" content="Homepage")
        meta(property="og:url" content="https://clardy.eu")
        meta(property="og:description" content="504 Page")
        meta(name="keywords" content="programming,email,website,personal")
        meta(name="viewport" content="width=device-width, initial-scale=1" )
        link(rel="icon" type="image/x-icon" href="/imgs/favicon.png")
        link(rel="stylesheet" type="text/css" href="/static/style/main.css")
        title 504 Gateway Timeout
    body
        div#header.error
            h1 Error 504
        nav.navbar
            div.narrownav
                h1 Error 504
        div#body
            h3 We are encountering some technical difficulties, please hold on.