doctype html
html
	head
		include /views/includes/head.pug
	body(ng-app="HomePage")
		include /views/includes/header.pug
		include /views/includes/navbar.pug
		div#body(ng-controller="MainController")
			p This is my website! It is where I test different web technologies to build my site.
			p The backend is NGINX Reverse-Proxying to NodeJS. All the pages are built in pug, and each page was a different learning things.
			div(ng-repeat="section in sections")
				information-section(details="section")
		include /views/includes/angular-js.pug
		include /views/includes/footer.pug
		script(type='text/javascript' defer src="/static/js/home.js")